
.navbar-inverse
{
    background-color: #2a6496;
    border-color: #2a6496;
    height:60px;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 5;
}
.navbar-inverse .navbar-brand{
    color: white;
}
a.navbar-brand{
    color: white;
    font-size: 7mm;
    font-family: "https://s3-ap-southeast-1.amazonaws.com/ft05/RobotoCondensed-Bold.ttf";
    margin-left: 5px;
}
a.navbar-brand:hover{
    color: white;
    font-family: "https://s3-ap-southeast-1.amazonaws.com/ft05/RobotoCondensed-Bold.ttf";
}
body{
    background-color: whitesmoke;
}

.card-img-top
{
    height: 240px;
    max-width:100%;

}

.navbar-header-one{
    margin-right: 650px;
    margin-left : -50px;
}
.well {
    min-height: 20px;
    /* padding: 19px; */
    margin-bottom: 20px;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 1px 2px #5E5E5E;
}
.navbar-header-two{
    font-size: 6mm;
    margin-left: 135px;
    margin-right: 0px;
    float: right;
}
#logo{
    float: left;
    max-width: 50px;
    max-height: 60px;
    margin-right: 20px;
    margin-top: 9px;
}
.btn{
    padding: 0px 0px;
    margin-bottom: 6px;
    border-radius: 28px;
}
.glyphicon{
    top: 3px;
    left: 9px;
}
.glyphicon-cog:hover{
    cursor: pointer;
}
.col-md-4{
    position: relative;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
    margin-left: 30px;
}
.col-md-8{
    margin-left: 30px;
}
.img-responsive{
    max-width: 100%;
}
.img-circle{
    border-radius: 50%;
}
.glyphicon glyphicon-cog{
    size: 15px;
}
.card-body{
    background-color: white;
    margin-bottom: 20px;
}

.glyphicon {  margin-bottom: 10px;margin-right: 20px;}
