<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <title>Hello Spring Boot!</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <style>

        input[type="file"] {
            display: none;
        }

        .custom-file-upload {
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }

        .navbar-inverse
        {
            background-color: #2a6496;
            border-color: #2a6496;
            color: black;
            height:60px;
            width: 100%;
            box-shadow: 0px 1px 10px #5E5E5E;
            position: fixed;
            z-index: 5;

        }
        ::-webkit-input-placeholder {
            text-align: center;
        }

        a.navbar-brand{
            color: #dee2e6;
            font-family:"../webapp.resources.fonts/RobotoCondensed-Bold.ttf" ;
            font-size: 7mm;

        }
        a.navbar-brand:hover{
            color: white;
            font-family: "../webapp.resources.fonts/RobotoCondensed-Bold.ttf";
        }


        .card-img-top
        {

            max-width:300px;
            max-height: 200px;


        }
        #logo {
            float: left;
            max-height: 2cm;
            max-width: 2cm;
        }
        input
        .navbar-header-two{
            overflow: visible;
        }



    </style>
</head>
<body>
<!-- Header -->
<div>
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional.                                           -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header-one">
                <img src="../images/icon.png"  id="logo"/>
                <a class="navbar-brand" href="#">Facegram</a>
            </div>
            <div class="navbar-header-two">
                <img class="img-circle" height="45" width="45" th:src="@{${user.getImage()}}">&nbsp;
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><button type="button" class="dropdown-item" data-toggle="modal" data-target="#updateProfileModal">update Profile</button></li>
                        <div class="dropdown-divider"></div>
                        <li> <a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Insert content into the layouts/layout.html -->
<br>
<br>
<br>
<br>
<th:block layout:fragment="content">
    <br>
    <br>

    <div align="center" class="container">
        <input id="status" align="center" type="text" class="form-control" th:placeholder="'Whats up for today,'+${user.getFirstname()}"data-toggle="modal" data-target="#myModal">

        <br/>
        <br>
        <br>
        <div class="card mb-3" style="width: 400px;" th:each="posts : ${getpost}">
            <br>
            <img class="img-circle" height="45" width="45" th:src="@{${posts.user.getImage()}}">&nbsp;

            <h2 class="card-title" th:text="${posts.user.getFirstname()}">
            </h2>
            <br>

            <img class="card-img-top" th:src="@{${posts.getImageUrl()}}" alt="Card image cap" width="200" height="200">
            <div class="card-body">
                <p class="card-text" th:text="${posts.getCaption()}"></p>
                <span>

                <button th:id='${posts.getId()+posts.getLikeIndicator()}' class="btn btn-success"th:onclick="'like(\''+ ${posts.getId()+posts.getLikeIndicator()} +'\')'">
                <span th:id='${posts.getId()+posts.getLikeIndicator()}' class="glyphicon glyphicon-thumbs-up" aria-hidden="true">like</span>
                </button>

            </span>




                <p class="card-text" th:text="${#dates.format(posts.getCreatedDatetime(),'dd-MM-yyyy HH:mm')}"><small class="text-muted"></small></p>
            </div>
        </div>

        <!-- Modal -->

    </div>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div align="center" class="modal-header">
                    <h4 class="modal-title">Share Post</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body" >
                    <form id="userForm" action="#" th:action="@{/home}" th:object="${post}" enctype="multipart/form-data" method="post">

                        <div class="form-group" align="center">
                        <label class="custom-file-upload">
                            <input type="file"  accept="image/*" name="file" id="imgEvent"/>
                            <img id="eventImageId" src="https://s3-ap-southeast-1.amazonaws.com/ft05/uploadImage.jpg" alt="your image" width="150" height="150" />
                        </label>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" th:field="*{caption}" placeholder="whats up for today" id="caption"/>
                        </div>


                        <div align="center" class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-success" type="submit" >Post</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>





        <div id="updateProfileModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 align="center" class="modal-title">Update Profile</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body" >
                        <form id="updateProfileForm" action="#" th:action="@{/myprofile}" th:object="${user}" method="post">
                            <div class="form-group">
                                <label class="form-control-label" >First Name</label>
                                <input type="text" class="form-control"  th:field="*{firstname}"   id="firstname"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" >Last Name</label>
                                <input type="text" class="form-control"  th:field="*{lastname}"  id="lastname"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" >Bio</label>
                                <input type="text" class="form-control"  th:field="*{bio}"  id="bio"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" >Current City</label>
                                <input type="text" class="form-control"  th:field="*{currentCity}"  id="currentCity"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" >High School</label>
                                <input type="text" class="form-control"  th:field="*{highSchool}"   id="highschool"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" >University</label>
                                <input type="text" class="form-control"  th:field="*{university}"   id="university"/>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn-success" type="submit" >Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>
    <div id="resultsBlock">

    </div>

</th:block>
</body>


<script>

    $(document).ready(function () {
        if($("[id$='L']")) {
            var eselect = $("[id$='L']");
            var select = (eselect);
            $(select).removeClass('btn-success');
            $(select).addClass('btn-danger');

            var value = $(eselect).find("span");
            $(value).removeClass('glyphicon glyphicon-thumbs-up');
            $(value).addClass('glyphicon glyphicon-thumbs-down');
            var obj = $(value);
            obj.data('liked', true);
            obj.html('unlike');

        }




    });


    var like = function (id)
    {

        var u = id.slice(0,-1);
        var select = ("#"+id+".btn");
        $(select).removeClass('btn-danger');
        $(select).addClass('btn-success');

        var value = $("#"+id).find("span");
        $(value).removeClass('glyphicon glyphicon-thumbs-down');
        $(value).addClass('glyphicon glyphicon-thumbs-up');
        $(value).css("background-color", "#218838");
        var obj = $(value);
        if( obj.data('liked') ){
            obj.data('liked', false);
            obj.html('Like');
            var url = '/likes/';
            url=url+u;

            $("#resultsBlock").load(url);
        }
        else{
            $(select).removeClass('btn-success');
            $(select).addClass('btn-danger');
            $(value).removeClass('glyphicon glyphicon-thumbs-up');
            $(value).addClass('glyphicon glyphicon-thumbs-down');
            $(value).css("background-color", "#dc3545");
            obj.data('liked', true);
            obj.html('Unlike');
            var url = '/likes/';
            url=url+u+'d';
            $("#resultsBlock").load(url);
        }
    }


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#eventImageId').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imgEvent").change(function () {
        readURL(this);
    });

</script>

</html>

